<footer>
    <div class="container">
        <div class="footer-content">
            <div class="brand">
                <h2>Farsiya<span>papertrading</span></h2>
                <p>Your Partner in Professional Paper Pasting.</p>
                <p>License No: 1470313</p>

            </div>
            <div class="contact-info">
                <p><i class="fas fa-map-marker-alt"></i> {{ 'CONTACT.ADDRESS' | translate }}</p>
                <a href="tel:+971567433620"><i class="fas fa-phone"></i> {{ 'CONTACT.cPHONE' | translate }}</a>
                <a href="mailto:{{ 'CONTACT.cEMAIL' | translate }}"><i class="fas fa-envelope"></i> {{ 'CONTACT.cEMAIL'
                    | translate }}</a>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; {{ currentYear }} Farsiyapapertrading. All rights reserved.</p>
            <p class="designer-credit">Designed by TrendWave</p>
        </div>
    </div>
</footer>