<footer>
    <div class="container">
        <div class="footer-content">
            <div class="brand">
                <img src="assets/images/logo.png" alt="Farsiyapapertrading" class="footer-logo">
                <p>{{ 'FOOTER.TAGLINE' | translate }}</p>
                <p>{{ 'FOOTER.LICENSE' | translate }}</p>

            </div>
            <div class="contact-info">
                <p><i class="fas fa-map-marker-alt"></i> {{ 'CONTACT.ADDRESS' | translate }}</p>
                <a href="tel:+971567433620"><i class="fas fa-phone"></i> {{ 'CONTACT.cPHONE' | translate }}</a>
                <a href="mailto:{{ 'CONTACT.cEMAIL' | translate }}"><i class="fas fa-envelope"></i> {{ 'CONTACT.cEMAIL'
                    | translate }}</a>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; {{ currentYear }} Farsiyapapertrading. {{ 'FOOTER.COPYRIGHT' | translate }}</p>
            <p class="designer-credit">{{ 'FOOTER.DESIGNED_BY' | translate }}</p>
        </div>
    </div>
</footer>