<section class="process-section" id="process">
    <div class="container">
        <div class="section-header" #animItem>
            <h2>{{ 'PROCESS.TITLE' | translate }}</h2>
            <div class="line"></div>
            <p class="section-description">
                {{ 'PROCESS.DESC' | translate }}
            </p>
        </div>

        <div class="slider-container" #animItem style="transition-delay: 0.2s" dir="ltr">
            <div class="slider-wrapper" [style.transform]="'translateX(-' + currentSlide * 100 + '%)'">
                <div class="slide" *ngFor="let image of images">
                    <img [src]="image" alt="Process Image">
                </div>
            </div>

            <button class="nav-btn prev" (click)="prevSlide()">
                <i class="fas fa-chevron-left"></i>
            </button>
            <button class="nav-btn next" (click)="nextSlide()">
                <i class="fas fa-chevron-right"></i>
            </button>

            <!-- <div class="indicators">
                <span class="dot" *ngFor="let image of images; let i = index" [class.active]="i === currentSlide"
                    (click)="goToSlide(i)"></span>
            </div> -->
        </div>
    </div>
</section>